<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style media="screen">
      .Wall {
        padding: 5px;
        border: 2px solid #333;
        text-align:center;
      }
    </style>
    <title></title>
    {%load humanize%}
  </head>
  <body>
    <h4>Welcome!</h4>
    <h2>{{request.session.name}}</h2>
    <br>
    <br>
    <h3>Post a secret here:</h3>
    <form class="" action="/postsecret" method="post">
      {% csrf_token %}
      <textarea  name="postsecret" rows="6" cols="60"></textarea>
      <br>
      <input type="submit" name="" value="Spread rumors">
    </form>
    <br>
    <br>
    <div class="Wall">
    <h3>Recent Secrets</h3>
    {% for value in message %}
      <p>{{value.message}} - Posted by: {{value.creator.first_name}} - Posted at: {{value.created_at|naturaltime}} - (Likes - {{value.liked_by.count}}) - <a href="/likes/{{value.id}}">Like</a></p>
      {%if value.liked_by.count > 0 %}

      {%endif%}
    {% endfor %}
    <a href="/popular">See most popular likes</a>
    </div>
    <form class="logout" action="/logout" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Log Out">
    </form>
  </body>
</html>
